*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.header-text {
  text-align: center;
}

h2{
    margin-left: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.signup-form-body {
  display: flex;
  margin-left: 30px;
  gap: 50px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 0;
}

.hero-container {
  position: relative;
}

.hero-image {
  width: 40vw;
  height: 100vh;
}

.image-credits {
  color: white;
  position: absolute;
  left: 0;
  bottom: 1;
}

.image-credits a {
  color: white;
}
